.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

@media (max-width: 480px) {
  .headerWrapper {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
}

@media (max-width: 1025px) {
  .headerWrapper {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
}