.cardWrapper {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
}

.cardTopContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.cardPriceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cardPrice {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.cardPriceTop {
  color: #bdbdbd;
}

.cardPriceBottom {
  font-weight: bold;
}

.svgButtonWrapper {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}


.sneakerImg {
  width: 100%;
  max-width: 420px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneakerImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.sneakerTitle {
  margin: 10px 0;
  cursor: pointer;
  &:hover {
    color: color-mix(in srgb, gray, white 15%)
  }
}

@media (767px <= width <= 1024px  )  {
  .sneakerImg {
    width: 65%;
  }
}
