

.mainLayout {
  margin: 85px 25%;
  background-color: #ffffff;
  max-width: 1280px;

  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

@media (max-width: 480px) {
  .mainLayout {
    margin: 5%;
  }
}

@media (max-width: 1025px) {
  .mainLayout {
    margin: 5%;
  }
}

