.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logoTextBlock {
  display: flex;
  flex-direction: column;
}

.logoTitle {
  font-weight: 700;
  font-size: 20px;
}
