.searchInputWrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 10px;
}

.searchInput {
  border: none;
  padding: 0;
  outline: none;
  font-family: 'Comfortaa';
  width: 100%;
}

@media (max-width: 480px) {
  .searchInput {
    width: 100%;
  }
}

@media (max-width: 1025px) {
  .searchInput {
    width: 100%;
  }
}

.searchIcon {
  margin-right: 20px;
}
