.contentWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}

.noItems {
    text-align: center;
}

@media (max-width: 480px) {
  .contentWrapper {
    display: flex;
    flex-direction: column;
  }
}
