.cardWrapper {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.cardTopContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.cardPriceWrapper {
  display: flex;
  flex-direction: column;
}

.cardPriceSection {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 15px;
}

.cardPrice {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.cardPriceTop {
  color: #bdbdbd;
}

.cardPriceBottom {
  font-weight: bold;
}

.svgButtonWrapper {
  border: none;
  background: none;
}


.sneakerTitle {
  font-weight: bold;
  font-size: 24px;
}


.buttonAddToCart {
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0E3E4F;
    border-radius: 10px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: color-mix(in srgb, #0E3E4F, white 15%);
    transition: all .3s;
    border-radius: 10px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
