.dialog {
  padding: 0;
  position: relative;

  width: 30vw;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  transform: scale(1);
  overflow: hidden;
}

.dialogForActions {
  padding: 0;
  position: relative;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  transform: scale(1);
  overflow: hidden;
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding: 30px;
  opacity: 0;
  animation: scaleUp 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.close {
  position: sticky;
  top: 0;
  left: 100%;
  width: 32px;
  height: 32px;
  border: 2px solid gray;
  border-radius: 10px;
  background: none;
  font-family: 'Comfortaa';
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    background-color: color-mix(in srgb, gray, white 15%);
  }
}

.modalHeader {
  text-align: center;
}

* {
  box-sizing: border-box;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(300px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
